/*Police d'écriture*/
@import url('https://fonts.googleapis.com/css?family=Krona+One|Lato|Roboto&display=swap');
/*Page*/
html, body{
	margin: 0;
	padding: 0;
	display: table;
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
}
/*Header*/
.menu{
	background: white;
	height: 120px;
	width: 100%;
}
.inner{
	width: 85%;
	margin: auto;
}

.left{
	float: left;
	margin: 20px;
}
.right{
	float: right;
	margin: 50px;
}
.est{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 20px;
	margin: 0px 30px;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid transparent;
}
.est:hover{
	padding-bottom: 3px;
	border-bottom: 2px solid #000;
}
/*Contenu*/
.container{
	height: auto;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 40px;
	display: table;
}
/*A1*/
.A1{
	background-color: white;
	width: 95%;
	height: 400px;
	display: table;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}
.groupA1{
	display: table-cell;
	vertical-align: middle;
}
.A1 h1{
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 40px;
	color: black;
	margin: 0;
}
.A1 p{
	font-weight: 400;
	font-family: 'Krona One', sans-serif;
	letter-spacing: 20px;
	color: black;
}
/*A2*/
.A2{
	background-color: white;
	width: 95%;
	height: 400px;
	margin-bottom: 60px;
}
.groupA2{
	display: table-cell;
	vertical-align: middle;
}
.A2 .inner{
	width: 80%;
}
.A2 h1{
	color: black;
	padding-top: 2%;
	font-size: 60px;
}
.A2 p{
	color: black;
	font-size: 20px;
}
.A2 .groupA2 .more{
	background-color: grey;
	height: 60px;
	width: 200px;
	margin-top: 40px;
	display: table;
}
.A2 .groupA2 .more a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*A3*/
.A3{
	background-color: white;
	width: 95%;
	height: 400px;
	margin-bottom: 60px;
}
.groupA3{
	display: table-cell;
	vertical-align: middle;
}
.A3 .inner{
	width: 80%;
}
.A3 h1{
	color: black;
	padding-top: 2%;
	font-size: 60px;
}
.A3 p{
	color: black;
	font-size: 20px;
}
.A3 .groupA3 .buy{
	background-color: grey;
	height: 60px;
	width: 200px;
	margin-top: 40px;
	display: table;
}
.A3 .groupA3 .buy a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*A4*/
.A4{
	background-color: white;
	width: 95%;
	height: 400px;
	margin-bottom: 60px;
}
.groupA4{
	display: table-cell;
	vertical-align: middle;
}
.A4 .inner{
	width: 80%;
}
.A4 h1{
	color: black;
	padding-top: 2%;
	font-size: 60px;
}
.A4 p{
	color: black;
	font-size: 20px;
}
.A4 .groupA4 .contact{
	background-color: grey;
	height: 60px;
	width: 200px;
	margin-top: 40px;
	display: table;
}
.A4 .groupA4 .contact a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*Footer*/
footer{
	display: table-row;
	height: 100px;
	width: 100%;
	color: black;
}
footer #position{
	display: table;
	height: 100%;
	width: 100%;
	background-color: white;
}
footer #position #bottom{
	display: table-cell;
	vertical-align: middle;
}